body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
    overflow: hidden;
}

#hud-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.0);
    transition: background 0.3s ease;
}

.dragging {
    border: 2px dashed white;
    background: rgba(0, 0, 0, 0.5) !important;
    cursor: move;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-hud {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    min-width: 100px;
}

.logo {
    display: block !important;
    width: 90px !important;
    height: auto;
    filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.6));
}

.player-id {
    background: rgba(0, 0, 0, 0.75);
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
    border: 1px solid rgba(255,255,255,0.1);
}

.info-box {
    background: rgba(0, 0, 0, 0.6);
    padding: 6px 12px;
    margin-bottom: 4px;
    border-radius: 5px;
    border-right: 4px solid #f1c40f;
    min-width: 150px;
    text-align: right;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.3);
}

.bank { border-color: #3498db; }
.black { border-color: #e74c3c; color: #ff9a9a; }
.job { border-color: #ffffff; font-size: 13px; }

/* NOTIFICACIÓN NEÓN */
#notification-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.neon-msg {
    background: rgba(0, 0, 0, 0.8);
    color: #00fbff;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: bold;
    border: 1px solid #00fbff;
    box-shadow: 0 0 15px #00fbff;
    text-shadow: 0 0 5px #00fbff;
    animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-20px); }
    15% { opacity: 1; transform: translateY(0); }
    85% { opacity: 1; }
    100% { opacity: 0; transform: translateY(-20px); }
}